<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>QUIZ FINISHED</title>
</head>
    <body>
        <h1>Prüfung erfolgreich beendet. Benotung wurde eingetragen.</h1>
        <h2>Kompetenzniveau: <%- studentCompetency %></h2>
    </body>
</html>